{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}
<div>
	{% if validlink %}
	<h2>Change your Password</h2>
		<p>Please choose a new password.</p>
	<form action="" id="password-reset-form" method="post">
	{% csrf_token %}
	<p>
		{{ form.new_password1.errors }}
		<label for="new-pass">New Password</label>
		<input type="password" id="id_new_password1" name="new_password1" class="input-txt" />
	</p>
	<p>
		<label for="confirm-pass">Confirm Password</label>
        <input type="password" id="id_new_password2" name="new_password2" class="input-txt" />
        {{ form.new_password2.errors }}
	</p>
	<input type="image" src="{{ MEDIA_URL }}images/btn-submit.png" alt="Submit" id="submit-newpass" />
	</form>
	{% else %}
	<h2>{% trans 'Password reset unsuccessful' %}</h2>
	<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
	{% endif %}
</div>
{% endblock %}
